build/
build-*/
.DS_Store
xcuserdata/
.floo

cross-*.txt
root.tar.gz
alpine-*-fakefs/
debian-*-fakefs/

node_modules
__pycache__/
*.pyc
app/xtermjs/xterm-dist
app/xtermjs/.cache

subprojects/
!subprojects/*.wrap

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

e2e_out/

# Legacy bench scripts (replaced by benchmark/)
bench/
